{% extends 'gallery.html' %}
{% load static %}
{% block content2 %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png' %}">
  <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png' %}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Paper Dashboard 2 by Creative Tim
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <script src="https://kit.fontawesome.com/c9ea731a3b.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'vendors/themify-icon/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/elagent/style.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/css/paper-dashboard.css?v=2.0.1' %}" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="{% static 'assets/demo/demo.css' %}" rel="stylesheet" />
</head>

<body class="">
    <div class="wrapper ">
     
  
            <div class="col-md-6 d-flex justify-content-center my-5" style="margin-left: auto; margin-right: auto;" >
              <div class="card card-user">
                <div class="card-header">
                  <h5 class="card-title">Create Profile</h5>
                </div>
                <div class="card-body">
                  <form action="{% url 'add_profile' %}" method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                    <div class="row">
                      <div class="col-md-6 pr-2">
                        <div class="form-group">
                          <label>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="width: 62px; margin-top:11px"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M64 64V48C64 39.16 71.16 32 80 32H144C152.8 32 160 39.16 160 48V64H192L242.5 38.76C251.4 34.31 261.2 32 271.1 32H448C483.3 32 512 60.65 512 96V416C512 451.3 483.3 480 448 480H64C28.65 480 0 451.3 0 416V128C0 92.65 28.65 64 64 64zM220.6 121.2C211.7 125.7 201.9 128 192 128H64V192H178.8C200.8 176.9 227.3 168 256 168C284.7 168 311.2 176.9 333.2 192H448V96H271.1L220.6 121.2zM256 216C207.4 216 168 255.4 168 304C168 352.6 207.4 392 256 392C304.6 392 344 352.6 344 304C344 255.4 304.6 216 256 216z"/></svg>
                          </label>
                          <input type="file" class="form-control" name="file">
                         
                        </div>
                      </div>
                      <!-- <div class="col-md-3 px-1">
                        <div class="form-group">
                        </div>
                      </div>
                    </div> -->
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Company </label>
                          <input type="text" class="form-control" disabled="" placeholder="Company" value="NautilusTechnologies">
                        </div>
                      </div>
                      </div>
                    
                    <div class="row">
                      <div class="col-md-6 pr-1">
                        <div class="form-group">
                          <label>First Name</label>
                          <input type="text" class="form-control" name="firstname">
                        </div>
                      </div>
                      <div class="col-md-6 pl-1">
                        <div class="form-group">
                          <label>Last Name</label>
                          <input type="text" class="form-control" name="lastname">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Email <address></address></label>
                          <input type="email" class="form-control" name="email">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Title</label>
                          <input type="text" class="form-control" name="profession" value="{{ prof }}">
                        </div>
                      </div>
                    </div>
                    <!-- <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>About Me</label>
                          <textarea class="form-control textarea" name="about" value="{{ about }}"></textarea>
                        </div>
                      </div>
                    </div> -->
                    <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            
                          </div>
                        </div>
                      </div>
                    <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong class="text-capitalize text-success"></strong> {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                        
                         
                              </div>       
                            {% endfor %}
                              {% endif %}
                          </div>
                        </div>
                      </div>
                    <div class="row">
                      <div class="update ml-auto mr-auto">
                        <button type="submit" class="btn btn-light  btn-round" style="border-color:rgb(157, 102, 211) ;">Submit</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
       
      </div>
    </div>
    <!--   Core JS Files   -->
    <script src="{% static 'assets/js/core/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/core/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/core/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
    <!--  Google Maps Plugin    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!-- Chart JS -->
    <script src="{% static 'assets/js/plugins/chartjs.min.js' %}"></script>
    <!--  Notifications Plugin    -->
    <script src="{% static 'assets/js/plugins/bootstrap-notify.js' %}"></script>
    <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="{% static 'assets/js/paper-dashboard.min.js?v=2.0.1' %}" type="text/javascript"></script><!-- Paper Dashboard DEMO methods, don't include it in your project! -->
    <script src="{% static 'assets/demo/demo.js' %}"></script>
  </body>


</html>
{% endblock %}
